<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Availibility</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form action="#" th:action="@{/booking/availability}" th:object="${roomsAvailability}" method="post">
                <div class="row">
                    <div class="col">
                    <div class="form-group">
                    <label for="check-in">Fecha de Ingreso:</label>
                    <input type="date" id="check-in" class="form-control"  th:field="*{checkin}">
                </div>
                    </div>
                <div class="col">
                <div class="form-group">
                    <label for="check-out">Fecha de Salida:</label>
                    <input type="date" id="check-out" class="form-control" th:field="*{checkout}" >
                </div>
                </div>
                <div class="col">
                <div class="form-group">
                    <label for="cantPersonas">Cantidad de Personas:</label>
                    <input type="number" id="cantPersonas" class="form-control"  th:field="*{capacity}">
                </div>
                </div>
                </div>
            <button type="submit" class="btn-primary" name="availability">Ver disponibilidad</button>
        </form>
    </div>
    <div class="container">
        <table>
            <thead>
                <th>Room</th>
                <th>Occupancy</th>
                <th>Facilities</th>
                <th>Price</th>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(rooms)}">
                    <td colspan="4">
                        No Rooms Available
                    </td>
                </tr>
                <tr th:each="room : ${rooms}">
                    <td>
                        <span th:text="${room.name}">
                            Room
                        </span>
                    </td>
                    <td>
                        <span th:text="${room.occupancy}">
                            Occupancy
                        </span>
                    </td>
                    <td>
                        <span th:text="${room.facilities}">
                            Facilities
                        </span>
                    </td>
                    <td>
                        <span th:text="${room.price}">
                            Price
                        </span>
                    </td>
                    <td>
                        <form action="#" th:action="@{/booking/new}" th:object="${booking}" method="post">
                            <input type="hidden" th:name="CheckIn" th:value="${roomsAvailability.checkin}"/>
                            <input type="hidden" th:name="CheckOut" th:value="${roomsAvailability.checkout}"/>
                            <input type="hidden" th:name="ocuppancy" th:value="${roomsAvailability.capacity}"/>
                            <input type="hidden" th:name="roomId" th:value="${room.room_id}"/>
                            <button type="submit" name="reserve">Reserve</button>
                        </form>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>