<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Availibility</title>
    <link href="../static/lib/bootstrap-4.5.3-dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form action="#" th:action="@{/booking/availability}" th:object="${roomsAvailability}" method="post">
            <div class="form-group">
                <label for="check-in">Fecha de Ingreso:</label>
                <input type="date" id="check-in" class="form-control"  th:field="*{checkin}">
            </div>
            <div class="form-group">
                <label for="check-out">Fecha de Salida:</label>
                <input type="date" id="check-out" class="form-control" th:field="*{checkout}" >
            </div>
            <div class="form-group">
                <label for="cantPersonas">Cantidad de Personas:</label>
                <input type="number" id="cantPersonas" class="form-control"  th:field="*{capacity}">
            </div>
            <button type="submit" name="availability">Ver disponibilidad</button>
        </form>
    </div>
    <div class="container">
        <table>
            <thead>
                <th>Cuarto</th>
                <th>Occupancy</th>
                <th>Facilities</th>
                <th>Price</th>
            </thead>
            <tbody>

                <tr th:each="room : ${rooms}">
                    <td>
                        <span th:text="${room.name}">
                            Room
                        </span>
                    </td>
                    <td>
                        <span th:text="${room.occupancy}">
                            Occupancy
                        </span>
                    </td>
                    <td>
                        <span th:text="${room.facilities}">
                            Facilities
                        </span>
                    </td>
                    <td>
                        <span th:text="${room.price}">
                            Price
                        </span>
                    </td>
                    <td>
                        Book
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>